<h1 data-controller="hello"></h1>

<div data-controller="toggle">
  <button data-action="toggle#toggle">Toggle</button>
  <div data-toggle-target="toggleable">
    Hello
  </div>
</div>

<div data-controller="toggle">
  <button data-action="toggle#toggle">Toggle</button>
  <div data-toggle-target="toggleable" class="hidden">
    <%= select_tag "people", options_for_select(["One", "Two", "Three"]) %>
  </div>
</div>

<div data-controller="toggle">
  <button data-action="toggle#toggle">Toggle</button>
  <p data-toggle-target="toggleable">Hello</p>
  <p data-toggle-target="toggleable" class="hidden">Goodbye</p>
</div>

<div data-controller="checkbox" data-checkbox-target="checkboxContainer">
  <input type="checkbox" data-action="checkbox#toggle">
  <p>Check the box</p>
</div>
