<div class="content-container">
  <% if @username.present? %>
    <h2>Images by <%= @username %></h2>
  <% else %>
    <h2>Top 10 Images by Interesting-ness</h2>
  <% end %>

  <% @photos.each do |photo| %>
  <div class="img-container">
    <h2><%= photo.title.titleize %></h2>
    <%= image_tag Flickr.url(photo) %>
  </div>
  <% end %>
</div>
