<div>
  <% if posts_owner?(@user) %>
    <%= render "posts/post_form" %>
  <% end %>

  <% if @posts&.any? %>
    <div>
      <% @posts.each do |post| %>
        <p><%= post.body %></p>
      <% end %>
    </div>
  <% else %>
    <p><%= posts_owner?(@user) ? "You haven't" : "#{@user&.name} hasn't" %> posted anything yet.</p>
  <% end %>
</div>
