@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1.2rem;
  --heading-font-family: 'Lato', sans-serif;
  --paragraph-font-family: 'Merriweather', serif;
}

header {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 0.1rem solid black;
}

header h1 {
  cursor: default;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: var(--paragraph-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-family: var(--heading-font-family);
}

h2 {
  margin: 1.5rem 0rem;
}

p {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.main-container .flash {
  margin: 1rem 6rem;
  padding: 0.75rem 1.25rem;

  color: white;
  border: 1px solid;
  border-radius: 0.25rem;
}

.main-container .flash.alert {
  background-color: red;
  border-color: darkred;
}

.main-container .flash.success {
  background-color: green;
  border-color: darkgreen;
}

.main-container form {
  margin: 0 auto 1.5rem auto;
}

.main-container h2,
.main-container h3,
.main-container .no-results {
  margin: 1rem auto;
}

.selections-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.form-row label {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

.form-row select {
  width: 200px;
  padding: 0.5rem;

  font-family: var(--paragraph-font-family);
  line-height: inherit;
  font-size: inherit;
}

form input[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;

  text-align: center;
  text-decoration: none;

  font-size: inherit;
  cursor: pointer;
}

.main-container details {
  padding: 1.2rem;
  background-color: #EEE;
  border-radius: 0.25rem;
}

.main-container details div:first-of-type {
  margin-top: 1rem;
}

.main-container summary {
  font-size: 1.5rem;
  font-weight: 700;
}

.flight-card {
  margin-bottom: 1rem;
  padding: 1rem 2rem;

  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;

  transition: box-shadow 0.2s eas-in-out;
}

.booking-info {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.booking-info h1 {
  margin-bottom: 1rem;
}

.booking-container form {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.booking-container a {
  text-decoration: none;
  font-family: var(--heading-font-family);
}

.booking-container .home-link:before {
  content: '< ';
}

.booking-container .print-link {
  margin-left: 1rem;
}

.booking-container form input[type="text"] {
  font-size: 1.2rem;
}

.booking-container .passenger-fields {
  margin-bottom: 1rem;
}

.flight-header {
  margin-bottom: 1rem;
}

.flight-card:hover {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
}

.radio-label > input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.radio-label > input:checked + .flight-card {
  border: 1px solid #3b9be4;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(78, 211, 255, 0.2);
}
