html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1.2rem;
}

header {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 0.1rem solid black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1.5rem 0rem;
}

p {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-bottom: 1rem;
}

.selections-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.form-row select {
  line-height: inherit;
  font-size: inherit;
}

form input[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;

  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.flight-card {
  width: 80%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;

  color: black;
  border: 1px solid black;
  border-radius: 0.25rem;

  transition: box-shadow 0.2s eas-in-out;

  display: grid;
  grid-template-rows: 2fr 1fr;
}

.flight-card:hover {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
}
