<div class="event-container">
  <h1 class="section-header">Events</h1>
  <% if @events.any? %>
    <% @events.each do |event| %>
      <%= render "events/card", event: event %>
    <% end %>
  <% else %>
    <div>
      <p>There are no events yet. You dropped the database, didn't you?</p>
    </div>
  <% end %>
</div>
