<div>
  <div>
    <h1><%= @user.name %></h1>
    <h2><%= @user.email %></h2>
  </div>

  <div>
    <% if current_user.email == @user.email %>
      <h2>
        <p>You can't be friends with yourself!</p>
      </h2>
    <% elsif pending_friend_request?(@user) %>
      <h2>
        <p>Your friend request is still pending...</p>
      </h2>
    <% else %>
      <h2>
        <%= link_to "Request to be friends", "/users/#{@user.id}/friend_requests", method: :post, data: { 'turbo-method' => :post } %>
      </h2>
    <% end %>
  </div>
</div>
