<div>
  <div>
    <h1><%= @user.name %></h1>
    <h2><%= @user.email %></h2>
  </div>

  <div>
    <% if current_user.email == @user.email %>
      <h2>
        <p>You can't be friends with yourself!</p>
      </h2>
    <% elsif pending_friend_request?(@user) %>
      <h2>
        <p>Your friend request is still pending...</p>
      </h2>
    <% elsif current_user.friends.include?(@user) %>
      <h2>
        <p>You are already friends!</p> <%= button_to "Unfriend 🔪", friend_path(@user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete%>
      </h2>
    <% else %>
      <h2>
        <%= button_to "Request to be friends", user_friend_requests_path(@user), data: { 'turbo-method' => :post } %>
      </h2>
    <% end %>
  </div>
</div>
